<h2>Light Presets</h2>
<ul class="leds">
  <li *ngFor="let led of leds"
      [class.selected]="led === selectedPreset"
      (click)="onSelect(led)">
    <span class="badge">{{led.colorName}}</span> {{led.rgb}}
    <button class="delete" title="delete preset"
            (click)="delete(led)">X</button>
  </li>
</ul>

<app-preset [led]="selectedPreset"></app-preset>

<div>
  <button type="button" label="Click" (click)="toggleChild()">Create New Preset</button>
  
    <app-preset [showAdd]="showVar" (change)="updateLedArray($event)"></app-preset>
  
</div>



