<div *ngIf="led">

  <h2>Edit</h2>
  <div><span>Name: </span>{{led.colorName}}</div>
  <div><span>RGB: </span>{{led.rgb}}</div>
  <div>
    <label>
      Name:
      <input [(ngModel)]="led.colorName" placeholder="name" />
      RGB:
      <input [(ngModel)]="led.rgb" placeholder="rgb" />
    </label>
    <button (click)="save()">Save</button>
  </div>
</div>

<div *ngIf="showAdd">
  <form [formGroup]="presetCreator" (ngSubmit)="add(); presetCreator.reset()">
    <label>
      Name:
      <input type="text" formControlName="colorName" required>
    </label>

      <label>
        Color:
        <input type="color" formControlName="rgb">
      </label>
      
      <button type="submit" [disabled]="!presetCreator.valid">Create</button>
  </form>

</div>

