<!--Edit Tab-->
<div *ngIf="led">
  <form [formGroup]="presetCreator" (ngSubmit)="save();">
    <label>
      Name:
      <input type="text" [(ngModel)]="led.colorName" formControlName="colorName" required>
    </label>

    <label>
      Color:
      <input type="color" [(ngModel)]="led.rgb" formControlName="rgb">
    </label>

    <button type="button" class="btn btn-dark btn-sm" [disabled]="!presetCreator.valid">Save</button>
  </form>
</div>

<!--Create Tab-->
<div *ngIf="showAdd">
  <form [formGroup]="presetCreator" (ngSubmit)="add(); presetCreator.reset()">
    <label>
      Name:
      <input type="text" formControlName="colorName" required>
    </label>

      <label>
        Color:
        <input type="color" formControlName="rgb">
      </label>
      
      <button type="submit" [disabled]="!presetCreator.valid">Create</button>
  </form>
</div>


